Source: #PACKAGE#
Section: misc
Priority: extra
Maintainer: #USERNAME# <#EMAIL#>
Build-Depends: #BUILD_DEPS#, vdr-dev (>= #VDRVERSION#)
Standards-Version: #POLICY#

Package: #PACKAGE#
Architecture: any
Depends: ${shlibs:Depends}, ${vdr:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
XB-VDR-Patchlevel: ${vdr:Patchlevel}
