Source: vdr
Section: misc
Priority: extra
Maintainer: Debian VDR Team <pkg-vdr-dvb-devel@lists.alioth.debian.org>
Uploaders: Thomas Schmidt <tschmidt@debian.org> 
Build-Depends: debhelper (>= 4.1.16), linux-kernel-headers (>=2.5.999-test7-bk-6), libjpeg62-dev, dpatch (>= 2.0.9), libcap-dev, libncurses5-dev
Standards-Version: 3.7.2

Package: vdr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, makedev (>=2.3.1-66), adduser, psmisc
Recommends: lirc
Provides: vdr-daemon, vdr-kbd, vdr-lirc, vdr-rcu
Conflicts: vdr-daemon, vdr-kbd, vdr-lirc, vdr-rcu, vdradmin (<< 3.4.3)
Replaces: vdr-daemon, vdr-kbd, vdr-lirc, vdr-rcu
Description: Video Disk Recorder for DVB cards
 Video Disk Recorder (VDR) is a digital sat-receiver program using
 Linux and DVB technologies. It allows one to record MPEG2 streams,
 as well as output the stream to TV. It is also possible to watch DVDs
 (hardware accelerated) with some comfort and use an IR remote control.
 .
 This package contains the vdr main program which is controlled via the
 PC keyboard or a IR remote control.
 .
 NOTE: You should install compatible DVB drivers before using these
 programs. Also the standard VDR (without special plugins) requires 
 a DVB-Card with an integrated mpeg-decoder, a so called 
 Full-Featured Card.
XB-VDR-Patchlevel: ${vdr:Patchlevel}

Package: vdr-dev
Architecture:  all
Depends: ${misc:Depends}, debhelper, dvb-dev (>= 1.0.0) | linux-kernel-headers (>=2.5.999-test7-bk-6)
Suggests: dh-make
Description: Video Disk Recorder for DVB cards
 Video Disk Recorder (VDR) is a digital sat-receiver program using
 Linux and DVB technologies. It allows one to record MPEG2 streams,
 as well as output the stream to TV. It is also possible to watch DVDs
 (hardware accelerated) with some comfort and use an IR remote control.
 .
 This package contains the header files of VDR.
 You need this package to be able to build vdr-plugins!
XB-VDR-Patchlevel: ${vdr:Patchlevel}

Package: vdr-plugin-sky
Architecture: any 
Depends: ${shlibs:Depends}, vdr (= ${Source-Version})
Description: Plugin for using a Sky Digibox with vdr
 Video Disk Recorder (VDR) is a digital sat-receiver program using
 Linux and DVB technologies. It allows one to record MPEG2 streams,
 as well as output the stream to TV.
 .
 This package contains the sky-plugin, wich allows you to connect 
 the analog a/v output of a Sky Digibox to VDR, so that you can 
 enjoy the full recording flexibility of VDR with your Sky 
 subscription. 
XB-VDR-Patchlevel: ${vdr:Patchlevel}

Package: vdr-plugin-examples
Architecture: any 
Depends: ${shlibs:Depends}, vdr (= ${Source-Version})
Description: Plugins for vdr to show some possible features
 Video Disk Recorder (VDR) is a digital sat-receiver program using
 Linux and DVB technologies. It allows one to record MPEG2 streams,
 as well as output the stream to TV.
 .
 This package contains the example-plugins hello, osddemo, svccli, 
 svcsvr, skincurses, status and svdrpdemo from the vdr-source. 
 These plugins do not have useful features, they only demonstrate 
 how vdr-plugins work and what is possible to do with them.
XB-VDR-Patchlevel: ${vdr:Patchlevel}
