Source: vdr
Section: misc
Priority: extra
Maintainer: Debian VDR Team <pkg-vdr-dvb-devel@lists.alioth.debian.org>
Uploaders: Thomas Schmidt <tschmidt@debian.org>, Tobias Grimm <tg@e-tobi.net>, Thomas Günther <tom@toms-cafe.de>
Build-Depends: debhelper (>= 5), dpatch, libjpeg62-dev, libcap2-dev | libcap-dev,
  libncursesw5-dev, libfreetype6-dev, libfontconfig-dev, gettext,
  txt2man, python
Standards-Version: 3.8.0
Vcs-Svn: svn://svn.debian.org/pkg-vdr-dvb/vdr/vdr/trunk/
Vcs-Browser: http://svn.debian.org/wsvn/pkg-vdr-dvb/vdr/vdr/trunk/
Homepage: http://www.cadsoft.de/vdr/

Package: vdr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser, psmisc
Recommends: lirc, ttf-bitstream-vera | ttf-freefont
Provides: vdr-daemon, vdr-kbd, vdr-lirc, vdr-rcu, ${vdr:Provides}
Conflicts: vdr-daemon, vdr-kbd, vdr-lirc, vdr-rcu, vdradmin (<< 3.4.3)
Replaces: vdr-daemon, vdr-kbd, vdr-lirc, vdr-rcu
Description: Video Disk Recorder for DVB cards
 Video Disk Recorder (VDR) is a digital sat-receiver program using
 Linux and DVB technologies. It allows one to record MPEG2 streams,
 as well as output the stream to TV. It is also possible to watch DVDs
 (hardware accelerated) with some comfort and use an IR remote control.
 .
 This package contains the vdr main program which is controlled via the
 PC keyboard or a IR remote control.
 .
 NOTE: You should install compatible DVB drivers before using these
 programs. Also the standard VDR (without special plugins) requires 
 a DVB-Card with an integrated mpeg-decoder, a so called 
 Full-Featured Card.

Package: vdr-dev
Architecture: all
Depends: ${misc:Depends}, debhelper
Suggests: dh-make
Description: Video Disk Recorder for DVB cards
 Video Disk Recorder (VDR) is a digital sat-receiver program using
 Linux and DVB technologies. It allows one to record MPEG2 streams,
 as well as output the stream to TV. It is also possible to watch DVDs
 (hardware accelerated) with some comfort and use an IR remote control.
 .
 This package contains the header files of VDR.
 You need this package to be able to build vdr-plugins!

Package: vdr-dbg
Architecture: any 
Depends: ${shlibs:Depends}, ${misc:Depends}, vdr (= ${binary:Version}), gdb
Suggests: valgrind
Description: Debuggable version of the VDR Video Disk Recorder
 This package installs an unoptimized vdr binary with debugging symbols as well
 as some helper scripts to debug VDR and its plugins.

Package: vdr-plugin-sky
Architecture: any 
Depends: ${shlibs:Depends}, vdr (= ${binary:Version})
Description: Plugin for using a Sky Digibox with vdr
 Video Disk Recorder (VDR) is a digital sat-receiver program using
 Linux and DVB technologies. It allows one to record MPEG2 streams,
 as well as output the stream to TV.
 .
 This package contains the sky-plugin, which allows you to connect 
 the analog a/v output of a Sky Digibox to VDR, so that you can 
 enjoy the full recording flexibility of VDR with your Sky 
 subscription. 

Package: vdr-plugin-examples
Architecture: any 
Depends: ${shlibs:Depends}, vdr (= ${binary:Version})
Description: Plugins for vdr to show some possible features
 Video Disk Recorder (VDR) is a digital sat-receiver program using
 Linux and DVB technologies. It allows one to record MPEG2 streams,
 as well as output the stream to TV.
 .
 This package contains the example-plugins hello, osddemo, svccli, 
 svcsvr, skincurses, status and svdrpdemo from the vdr-source. 
 These plugins do not have useful features, they only demonstrate 
 how vdr-plugins work and what is possible to do with them.
