#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

CXXFLAGS = $(shell dpkg-buildflags --get CPPFLAGS)
CXXFLAGS += $(shell dpkg-buildflags --get CXXFLAGS)

%:
	dh $@

override_dh_auto_build:
	dh_auto_build
	gcc $(shell dpkg-buildflags --get CPPFLAGS ; dpkg-buildflags --get CFLAGS ; dpkg-buildflags --get LDFLAGS) \
            -o debian/vdr-shutdown.wrapper debian/vdr-shutdown-wrapper.c

override_dh_auto_clean:
	dh_auto_clean
	rm -f debian/vdr-shutdown.wrapper
	rm -f debian/patchinfo

override_dh_auto_install:
	dh_auto_install -- PREFIX=/usr

override_dh_install: patchinfo
	dh_install
	install -D -m 755 newplugin debian/vdr-dev/usr/bin/vdr-newplugin
	echo -n "vdr:Provides=" >> debian/vdr.substvars
	cat debian/abi-version >> debian/vdr.substvars

override_dh_installchangelogs:
	dh_installchangelogs -pvdr HISTORY
	dh_installchangelogs -pvdr-plugin-dvbsddevice PLUGINS/src/dvbsddevice/HISTORY
	dh_installchangelogs -pvdr-plugin-dvbhddevice PLUGINS/src/dvbhddevice/HISTORY
	dh_installchangelogs -pvdr-plugin-examples
	dh_installchangelogs -pvdr-dev

patchinfo:
	sh debian/extract-patchinfo >debian/patchinfo

check-patches:
	python debian/patchcheck.py -c $(PATCHCHECKOPTION)

accept-patches:
	python debian/patchcheck.py -u $(PATCHCHECKOPTION)
