#!/bin/sh

set -e

# source debconf lib
#. /usr/share/debconf/confmodule

# ask about creating /srv/vdr/video
#if [ ! -e /srv/vdr/video -a ! -L /srv/vdr/video ]; then
#    db_input high vdr/create_video_dir || true
#    db_go
#fi

# ask about dvb card type
#db_input high vdr/select_dvb_card || true
#db_go

exit 0
