#!/bin/sh

set -e

# source debconf lib
. /usr/share/debconf/confmodule


# show info about vdr
db_input high vdr/showinfo || true
db_go


# ask about creating /var/lib/video
if [ ! -e /var/lib/video ]; then
    db_input high vdr/create_video_dir || true
    db_go
fi

# ask about dvb card type
db_input high vdr/select_dvb_card || true
db_go

exit 0
