[Unit]
Description=Video Disk Recorder
After=network.target

[Service]
Type=notify
ExecStartPre=/bin/bash /usr/lib/vdr/merge-commands.sh "commands"
ExecStartPre=/bin/bash /usr/lib/vdr/merge-commands.sh "reccmds"
ExecStart=/usr/bin/vdr
Restart=on-failure
RestartPreventExitStatus=0 2

[Install]
WantedBy=multi-user.target
